<!DOCTYPE html>
    <html>

        <head>
        <title>Weather</title>
         <link rel="stylesheet" href="/css/style.css">
        </head>

        <body>
            <div class="main-content">
                {{>header}}
                <P>Use this site to get your weather </p> 
                
                <d1>lat: {{lat}}</d1>
                <d1>long: {{long}}</d1>    
                
            </div>
       
            {{>footer}}
        </body>

 </html>